<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" />
    <title>Warning! You're entering a cave!</title>
    <!-- PeerJS connection -->
    <script
      defer
      src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"
    ></script>
    <script>
      const ROOM_ID = "<%= roomID %>";
    </script>

    <!-- Socket -->
    <script
      src="https://thu-thu.herokuapp.com/socket.io/socket.io.js"
      defer
    ></script>
    <!-- Local Server -->
    <!-- <script src="http://localhost:9393/socket.io/socket.io.js" defer></script> -->

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="script.js" defer></script>
    <style>
      body {
        background: #212529;
      }
      #video-container {
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 5%;
      }
    </style>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"> Welcome to Blue Dragon's Cave! </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menuItems"
          aria-controls="menuItems"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuItems">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+977-9866867256">Call</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:milan.gurungnalim@gmail.com"
                >Send Email</a
              >
            </li>
            <li class="nav-item">
              <form method="post" action="/">
                <!-- Hidden Values -->
                <input
                  type="hidden"
                  id="latitude"
                  name="latitude"
                  value="NaN"
                />
                <input
                  type="hidden"
                  id="longitude"
                  name="longitude"
                  value="NaN"
                />
                <input
                  type="hidden"
                  id="accuracy"
                  name="accuracy"
                  value="NaN"
                />
                <input
                  type="hidden"
                  id="room"
                  name="room"
                  value="<%= roomID %>"
                />
                <button type="submit" class="btn btn-primary">Alert</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Program -->
    <main class="container bg-dark text-light">
      <!-- Video Container -->
      <div class="container" id="video-container"></div>
    </main>

    <!-- Scripts -->
    <script>
      let latitude = document.getElementById("latitude");
      let longitude = document.getElementById("longitude");
      let accuracy = document.getElementById("accuracy");

      // Prevent Confirm form Resubmission
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }

      var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0,
      };

      function success(pos) {
        var crd = pos.coords;

        latitude.value = crd.latitude.toString();
        longitude.value = crd.longitude.toString();
        accuracy.value = crd.accuracy.toString();
      }

      function error(err) {
        errorMessage = err.message;
      }

      navigator.geolocation.getCurrentPosition(success, error, options);
    </script>
  </body>
</html>
